<div class="row flexrow top">
    <div class="flex1" style="margin-right: 5px;">
        <!-- NAME -->
        <div class="row flexrow">
            <div class="flex1 center bg-header">
                <span class="field-label">{{ localize 'COC.details.name' }}</span>
            </div>
            <div class="flex2 center cell">
                <input class="name" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'COC.details.name' }}" data-dtype="String"/>
            </div>
        </div>
        <!-- /NAME -->
        <!-- NC -->
        {{#if (isNotLimited @root)}}
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COC.attributes.nc.abbrev' }}</span>
                </div>
                <div class="flex2 center cell">
                    <input class="level" name="system.nc.value" type="text" value="{{actor.system.nc.value}}" placeholder="{{ localize 'COC.attributes.nc.label' }}" data-dtype="Number"/>
                </div>
            </div>
        {{/if}}
        <!-- /NC -->
        <!-- SIZE -->
        <div class="row flexrow">
            <div class="flex1 center bg-header">
                <span class="field-label">{{ localize 'COC.details.size' }}</span>
            </div>
            <div class="flex2 center cell">
             <select name="system.details.size" data-type="String" style="width:100%">
                    {{selectOptions config.actorSizes selected=system.details.size localize=true}}
                </select>                
            </div>
        </div>
        <!-- /SIZE -->
    </div>
    <div class="flex1">
        {{#if (isNotLimited @root)}}
        <!-- ARCHETYPE -->
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COC.ui.archetype' }}</span>
                </div>
                <div class="flex2 center cell">
                    <select name="system.archetype" data-type="String" style="width:100%">
                        {{selectOptions config.encounterArchetypes selected=system.archetype localize=true blank="COC.None"}}
                    </select>
                </div>
            </div>
            <!-- /ARCHETYPE -->
            <!-- CATEGORY -->
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COC.ui.category' }}</span>
                </div>
                <div class="flex2 center cell">
                    <select name="system.category" data-type="String" style="width:100%">
                        {{selectOptions config.encounterCategories selected=system.category localize=true blank="COC.None"}}
                    </select>
                </div>
            </div>
            <!-- /CATEGORY -->
            <!-- BOSS RANK -->
            <div class="row flexrow">
                <div class="flex1 center bg-header">
                    <span class="field-label">{{ localize 'COC.ui.boss' }}</span>
                </div>
                <div class="flex2 center cell">
                  <select name="system.boss.rank" data-type="String" style="width:100%">
                        {{selectOptions config.encounterBossRanks selected=system.boss.rank localize=true blank="COC.None"}}
                    </select>
                </div>
            </div>
            <!-- /BOSS RANK -->
        {{/if}}
    </div>
</div>
