<h3 class="form-header">{{localize "COC.ui.equipment"}}</h3>

<div class="form-group">
    <label>{{localize "COC.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox"> <input type="checkbox" name="data.properties.equipable" {{checked data.properties.equipable}}> {{localize "COC.ui.equipable"}}</label>
{{#if (not data.properties.unique)}}
        <label class="checkbox"> <input type="checkbox" name="data.properties.stackable" {{checked data.properties.stackable}}> {{localize "COC.ui.stackable"}}</label>
{{/if}}
{{#if (not data.properties.stackable)}}
        <label class="checkbox"> <input type="checkbox" name="data.properties.unique"    {{checked data.properties.unique}}> Unique </label>
{{/if}}
        <label class="checkbox"> <input type="checkbox" name="data.properties.tailored"  {{checked data.properties.tailored}}> Sur-mesure </label>
        <label class="checkbox"><input type="checkbox" name="data.properties.2h" {{checked data.properties.2h}}> {{localize "COC.ui.2H"}}</label>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "COC.ui.price" }}</label>&nbsp; <input type="number" name="data.price" value="{{data.price}}" data-dtype="Number"/>
</div>
<div class="form-group">
    <label>{{ localize "COC.ui.strmin" }}</label>&nbsp; <input type="number" name="data.strmin" value="{{data.strmin}}" data-dtype="Number"/>
</div>

{{#if data.properties.stackable}}
    <div class="form-group">
        <label>{{ localize "COC.ui.quantity" }}</label>
        <div class="form-fields">
            <input type="number" name="data.qty" value="{{data.qty}}" placeholder="{{localize "COC.ui.quantity"}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "COC.ui.stacksize"}}</label>
        <div class="form-fields">
            <input name="data.stacksize" type="text" value="{{data.stacksize}}" placeholder="{{localize "COC.placeholders.stacksize"}}" data-dtype="Number">
        </div>
    </div>
{{/if}}
