<h3 class="form-header">Propriétés d'armes à distance</h3>
<div class="form-group">
    <label>{{localize "COC.ui.range"}}</label>
    <div class="form-fields">
        <input name="data.range" type="text" value="{{item.data.range}}" placeholder="Range" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>Propriétés</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="data.properties.reloadable" {{checked item.data.properties.reloadable}}> {{localize "COC.properties.reloadable"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.salve" {{checked item.data.properties.salve}}> {{localize "COC.properties.salve"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.proneshot" {{checked item.data.properties.proneshot}}> {{localize "COC.properties.proneshot"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.explosive" {{checked item.data.properties.explosive}}> {{localize "COC.properties.explosive"}}
        </label>
    </div>
</div>
{{#if data.properties.reloadable}}
    <div class="form-group">
        <label>{{localize "COC.ui.reload"}}</label>
        <div class="form-fields">
            <select name="data.reload" data-type="String" style="width:100%">
                {{#select data.reload}}
                    <option value="">{{localize "COC.ui.noAction"}}</option>
                    <option value="s">{{localize "COC.ui.simpleAction"}}</option>
                    <option value="l">{{localize "COC.ui.limitedAction"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
{{/if}}
