<div class="row flexrow table-header attributes-header no-wrap">
    <div class="flex2 center">
        <div class="field-label">{{ localize 'COC.stats.abbrev' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COC.stats.value.abbrev' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COC.stats.mod.abbrev' }}</div>
    </div>
    <div class="flex1 center">
        <div class="field-label">{{ localize 'COC.stats.tmpmod.abbrev' }}</div>
    </div>
</div>
{{#each system.stats as |stat id|}}
<div class="row flexrow no-wrap attributes">
    <div class="flex2 cell-header">
        <div class="flexrow no-wrap">
            <div class="flex1 center no-wrap" title="Supérieur (2d20)">
                <input type="checkbox" name="system.stats.{{id}}.superior" {{checked stat.superior}}>
            </div>
            <div class="flex8 center rollable no-wrap" data-rolling="system.stats.{{id}}" data-roll-type="skillcheck">
                <div class="field-label no-wrap" title="{{ localize stat.label }}">
                    <i class="fas fa-dice-d20"></i>&nbsp;{{ localize stat.abbrev }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex1 center cell readonly">
        <input class="field-value" name="system.stats.{{id}}.value" readonly="true" type="text" value="{{stat.value}}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        <input class="field-value" name="system.stats.{{id}}.mod" type="text" value="{{numberFormat stat.mod decimals=0 sign=true}}" data-dtype="Number"/>
    </div>
    <div class="flex1 center cell">
        {{#if (isNull stat.tmpmod)}}
        <input class="field-value" name="system.stats.{{id}}.tmpmod" type="text" value="" data-dtype="Number"/>
        {{else}}
        <input class="field-value" name="system.stats.{{id}}.tmpmod" type="text" value="{{numberFormat stat.tmpmod decimals=0 sign=true}}" data-dtype="Number"/>
        {{/if}}
    </div>
</div>
{{/each}}
