<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Attaques</h3>
        <div class="item-detail">Portée</div>
        <div class="item-detail">Critique</div>
        <div class="item-detail">Mod</div>
        <div class="item-detail">DM</div>
        <div class="item-controls-3">
            <a class="item-control item-create weapon-add" title="Ajouter une attaque"><i class="fas fa-plus"></i>&nbsp;</a>
        </div>
    </li>
    {{#if (equals weapons.length 0)}}
        <p class="empty">{{localize "COC.notification.noEncounterWeaponsSelected"}}</p>
    {{else}}
        <ol class="item-list">
        {{#each weapons as |weapon id|}}
            <li class="item flexrow" data-item-id="{{_id}}" data-item-type="item" draggable="true">
                <div class="item-name flexrow">
                    <div class="item-image encounter-attack-icon" style="background-image: url('{{img}}')"></div>
                    <h4 class="weapon-name">{{name}}</h4>
                </div>
                {{#with system.weapon as |weapon|}}
                    <div class="item-detail">{{range}}</div>
                    <div class="item-detail weapon-crit">{{critrange}}</div>
                    <div class="item-detail weapon-mod">{{numberFormat modTotal decimals=0 sign=true}}</div>
                    <div class="item-detail weapon-dmg">{{dmgTotal}}</div>
                    <div class="item-controls-3">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control rollable" data-roll-type="encounter-weapon"><i class="fas fa-dice-d20"></i></a>
                        <a class="item-control rollable" data-roll-type="encounter-damage"><i class="fas fa-dice"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                {{/with}}
                <div class="item-summary" style="display: none">
                    {{{system.description}}}
                </div>
            </li>
        {{/each}}
        </ol>
    {{/if}}
</ol>
